
#wrap {
	background-color: #e6e6fa;
	display: inline-block;
	width:100%;
	float:left;
	margin:0 auto;	
	background-color:;
}

#header{

	width:100%;
	float:left;
	/*background : #FFF0F0;*/
	background : #000000;
	margin : 0 0 auto;
	/*height : 100px;	*/
}

#logo{
	padding:15px 0px 0px 27%;
	display: inline-block;
	text-align:center;
	font: 25px bold;
	color:#d3d3d3;
}


#footer{
	width:100%;
	float:left;
	text-align: center;
	/*background-color: #CECECE*/;
	background-color: #FF9E00
}

#menuList{
	margin-left: 8%;
	display: inline-block;
}

#userData{
	margin-left: 26%;
	display: inline-block;	
}